/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
 color: #222;
 font-size: 1em;
 line-height: 1.6;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
 background: #b3d4fc;
 text-shadow: none;
}

::selection {
 background: #b3d4fc;
 text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
 display: block;
 height: 1px;
 border: 0;
 border-top: 1px solid #ccc;
 margin: 1em 0;
 padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {
 vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
 border: 0;
 margin: 0;
 padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
 resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
 margin: 0.2em 0;
 background: #ccc;
 color: #000;
 padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* This stylesheet generated by Transfonter (https://transfonter.org) on February 20, 2018 3:10 PM */

@font-face {
 font-family: 'Futura PT Cond Extra';
 src: url('FuturaPTCond-ExtraBold.woff2') format('woff2'), url('FuturaPTCond-ExtraBold.woff') format('woff');
 font-weight: 800;
 font-style: normal;
}

@font-face {
 font-family: 'Futura PT Cond';
 src: url('FuturaPTCond-Bold.woff2') format('woff2'), url('FuturaPTCond-Bold.woff') format('woff');
 font-weight: bold;
 font-style: normal;
}

@font-face {
 font-family: 'Futura PT Demi';
 src: url('FuturaPT-DemiObl.woff2') format('woff2'), url('FuturaPT-DemiObl.woff') format('woff');
 font-weight: 600;
 font-style: italic;
}


@font-face {
 font-family: 'Futura PT Cond';
 src: url('FuturaPTCond-Medium.woff2') format('woff2'), url('FuturaPTCond-Medium.woff') format('woff');
 font-weight: 500;
 font-style: normal;
}

@font-face {
 font-family: 'Futura PT Book';
 src: url('FuturaPT-Book.woff2') format('woff2'), url('FuturaPT-Book.woff') format('woff');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'Futura PT Cond Extra';
 src: url('FuturaPTCond-ExtraBoldObl.woff2') format('woff2'), url('FuturaPTCond-ExtraBoldObl.woff') format('woff');
 font-weight: 800;
 font-style: italic;
}

@font-face {
 font-family: 'Futura PT Extra';
 src: url('FuturaPT-ExtraBold.woff2') format('woff2'), url('FuturaPT-ExtraBold.woff') format('woff');
 font-weight: 800;
 font-style: normal;
}


@font-face {
 font-family: 'Futura PT Cond Book';
 src: url('FuturaPTCond-Book.woff2') format('woff2'), url('FuturaPTCond-Book.woff') format('woff');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'Futura PT Cond';
 src: url('FuturaPTCond-BoldObl.woff2') format('woff2'), url('FuturaPTCond-BoldObl.woff') format('woff');
 font-weight: bold;
 font-style: italic;
}

@font-face {
 font-family: 'Futura PT Demi';
 src: url('FuturaPT-Demi.woff2') format('woff2'), url('FuturaPT-Demi.woff') format('woff');
 font-weight: 600;
 font-style: normal;
}

@font-face {
 font-family: 'Futura PT Cond Book';
 src: url('FuturaPTCond-BookObl.woff2') format('woff2'), url('FuturaPTCond-BookObl.woff') format('woff');
 font-weight: normal;
 font-style: italic;
}



@font-face {
 font-family: 'Futura PT Book';
 src: url('FuturaPT-BookObl.woff2') format('woff2'), url('FuturaPT-BookObl.woff') format('woff');
 font-weight: normal;
 font-style: italic;
}


@font-face {
 font-family: 'Futura PT Extra';
 src: url('FuturaPT-ExtraBoldObl.woff2') format('woff2'), url('FuturaPT-ExtraBoldObl.woff') format('woff');
 font-weight: 800;
 font-style: italic;
}

@font-face {
 font-family: 'Futura PT Cond';
 src: url('FuturaPTCond-MediumObl.woff2') format('woff2'), url('FuturaPTCond-MediumObl.woff') format('woff');
 font-weight: 500;
 font-style: italic;
}


html {
 font-family: "Futura PT", sans-serif;
 background-color: #fbfafc;
 color: black;
}

.navbar, .navbar-post
{
 border-top: 3px solid #251F6E;
}

.logo{
  width: 50px;
  margin-right: 1rem;
}

a {
 text-decoration: none;
 color: black;
 transition: 0.5s
}

a:hover {
 opacity: 0.6;
}

h2 {
 font-size: 1.51572rem;
 font-weight: 700;
}

p {
 font-weight: normal;
}
.reseau
{
  padding: 0.3rem;
}
.container-navbar {
 display: flex;
 padding: 1rem 1.5rem;
 margin: 0 auto;
 align-items: center;
}

.brand {
 align-items: center;
 font-weight: bold;
 margin-right: 0.7rem;
 font-size: 23px;
}

ul {
 display: flex;
 align-items: center;
 margin: 0;
 flex-grow: 1;
}

li {
 text-decoration: none;
 list-style: none;
 margin-right: 1rem;
}


/* POSTS */

.container-posts {
 display: flex;
 flex-direction: column;
}

.card-posts:hover {
 opacity: 1;
 transform: translateY(-4px);
 box-shadow: 0 10px 42px rgba(25, 17, 34, 0.1);
 -webkit-transform: translateY(-4px);
 transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), padding 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-posts {
 position: relative;
 -webkit-transform: translateY(0px);
 transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), padding 250ms cubic-bezier(0.4, 0, 0.2, 1);
 max-width: 36rem;
 margin: 0 auto;
 background-color: #fff;
 border-radius: 5px;
 padding: 2.1rem;
 padding-left: 3.15rem;
 padding-right: 3.15rem;
 box-shadow: 0 3px 10px rgba(25, 17, 34, 0.05);
 margin-bottom: 1.314rem;
}

.link-card-post2 {
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
}

.cat-tag-laravel
{
  position: relative;
  z-index: 1000;
  background-color: #FCC7C4;
  padding: 0.3rem 0.8rem;
  border-radius: 40px;
  color: #F85142;
  transition: 0.5s;
}

.cat-tag-react
{
  position: relative;
  z-index: 1000;
  background-color: #C7E9F4;
  padding: 0.3rem 0.8rem;
  border-radius: 40px;
  color: #1AA5D1;
  transition: 0.5s;
}

.cat-tag-vue
{
  position: relative;
  z-index: 1000;
  background-color: #D3F2E6;
  padding: 0.3rem 0.8rem;
  border-radius: 40px;
  color: #47B784;
  transition: 0.5s;
}

/* FOOTER CARD POSTS */

.card-footer {
 display: flex;
 align-items: center;
}

.img-card-footer {
 width: 30px;
 height: 30px;
 border-radius: 100%;
 margin-right: 0.5rem;
}

.name-auth-card-posts {
 color: #999999;
}

.link-auth-posts-card {
 position: relative;
 z-index: 1000;
 color: #999999;
 transition: color 0.5s;
}

.link-auth-posts-card:hover {
 opacity: 1;
 color: #000000;
}


/* PAGINATION */

.container-pagination
{
  width: 20rem;
  margin: 0 auto;
}
.pagination
{

  width: 100%;

  display: flex;
  justify-content: space-between;

}
.Link-animatedHover
{
  color:#251F6E !important;
  font-size: 1.2em;
}

.Link-animatedHover:hover{
  opacity: 1;
}

.Link-animatedHover:hover:after {
    width: 100%;

}

.Link-animatedHover:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #251F6E;
    transition: all .5s;
}

/* POST */

.font-post {
 background: #fff;
 min-height: 100vh;
}

.navbar-post {
 border-bottom: 1px solid #F5F3F7;
}

.container-post {
 max-width: 36.4rem;
 margin: 0 auto;
 margin-top: 2.1rem;
 padding: 1rem;
}

.photo-auth-post {
 width: 60px;
 height: 60px;
 border-radius: 100%;
 margin-right: 1.5rem;
}

.auth-post {
 display: flex;
 align-items: center;
}

.name {
 font-size: 1.3em;
}

.auth-info {
 color: #999;
 margin: 0;
 line-height: 1.3;
}

.link-post {
 color: #251F6E;
 font-weight: bold;
 border-bottom: 3px solid #CADCFC;
 transition: 0.2s;
}

.link-post:hover {
  opacity: 1;
 background-color: #CADCFC;
 border-bottom: 3px solid #CADCFC;
}


.text-post{
  font-family: 'Spectral', serif;
font-size: 1.2em;
}

img {
 max-width: 100%;
}

.hr-post
{
  display: block;
  height: 1px;
  border: 0;
  border-bottom: 2px solid #CADCFC;
  padding: 1rem;

 }

 .tag-and-share
 {
   display: flex;
   align-items: center;
   justify-content: space-between;

 }

 .share
{
  display: flex;
  align-items: center;
}

.share-text
{
  display: flex;
  align-items: center;
  font-weight: normal;
  color: #251F6E;
  position: relative;
  z-index: 1000;
  background-color: #AAD9F7;
  padding: 0.3rem 0.8rem;
  border-radius: 40px;
  color: #2AA3EF;
  transition: 0.5s;
}

.share-text svg
{


  margin-left: 0.5rem;
}

.enjoy{
 text-align: center;
}

form
{
  padding-bottom: 1.5rem;
text-align: center;
}
.input-post {
 border: 1px solid #CADCFC;
 border-radius: 2px;
 padding: 0.7rem;
 width: 200px;
 margin-right: 0.3rem;
}

.btn-submit
{
  border: 1px solid #251F6E;
  border-radius: 2px;
  padding: 0.7rem;
  color: #251F6E;
  font-weight: bold;
  transition: 0.5s;
}
.btn-submit:hover{
  background-color: #251F6E;
  color: #fff;
}


/* Footer Post */
.global-previous-next
{
  display: flex;
  margin: 0;
  padding-bottom: 3rem;
  line-height: 1;
}
.global-previous-next div
{
  width: 50%;
}

.next
{
  text-align: right;
}
.next p{
  color: #999;

}
.next a{
  display: flex;
  align-items: center;
  margin-right: -1rem;
  font-weight: bold;
  color: #251F6E;
}

.next a svg
{
margin-left: 0.5rem;
}

.previous p
{
  color: #999;
}


.previous a
{
  display: flex;
  align-items: center;
  margin-left: -1rem;
  font-weight: bold;
  color: #251F6E;
}

.previous a svg
{
margin-right: 0.5rem;
}

.center
{
  text-align: center;
  padding: 1rem;
}

.logo-footer
{
  width: 70px;

}
/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
 display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
 border: 0;
 clip: rect(0 0 0 0);
 height: 1px;
 margin: -1px;
 overflow: hidden;
 padding: 0;
 position: absolute;
 width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
 clip: auto;
 height: auto;
 margin: 0;
 overflow: visible;
 position: static;
 width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
 visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {
 content: " ";
 /* 1 */
 display: table;
 /* 2 */
}

.clearfix:after {
 clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 35rem) {
  .next a{
    display: flex;
    align-items: center;
    margin-right: 0;
    font-weight: bold;
    color: #251F6E;
  }

  .previous a{
    display: flex;
    align-items: center;
    margin-left: 0;
    font-weight: bold;
    color: #251F6E;
  }
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
 /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
 *, *:before, *:after, *:first-letter, *:first-line {
  background: transparent !important;
  color: #000 !important;
  /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
  box-shadow: none !important;
  text-shadow: none !important;
 }
 a, a:visited {
  text-decoration: underline;
 }
 a[href]:after {
  content: " (" attr(href) ")";
 }
 abbr[title]:after {
  content: " (" attr(title) ")";
 }
 /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
 a[href^="#"]:after, a[href^="javascript:"]:after {
  content: "";
 }
 pre, blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
 }
 /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
 thead {
  display: table-header-group;
 }
 tr, img {
  page-break-inside: avoid;
 }
 img {
  max-width: 100% !important;
 }
 p, h2, h3 {
  orphans: 3;
  widows: 3;
 }
 h2, h3 {
  page-break-after: avoid;
 }
}
